<div class="container-fluid">
  <h2>Marevellous login Form</h2>
  <div>
    <form [formGroup]="MarvellousForm">
      <div class="form-group">
        <label>User Name: </label>
        <!-- Use class binding for validation -->
        <input [class.is-invalid]="MarvellousForm.get('username')?.invalid" type="text" class="form-control" formControlName="username" />
      </div>
      <br />

      <div class="form-group">
        <label>Password: </label>
        <input [class.is-invalid]="MarvellousForm.get('password')?.invalid && MarvellousForm.get('password')?.touched" type="password" class="form-control" formControlName="password" />
      </div>
      <br />
      <div class="form-group">
        <label>Confirm Password: </label>
        <input type="text" class="form-control" formControlName="confirmpass" />
      </div>
      <br />

      <div formGroupName="MarvellousClass">
        <div class="form-group">
          <label>Batch Name </label>
          <input type="text" class="form-control" formControlName="batch" />
        </div>

        <div class="form-group">
          <label>Fees </label>
          <input type="text" class="form-control" formControlName="fees" />
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button> 
      <button type="button" class="btn btn-outline-primary ml-3" (click)="SetData()">Set Values</button>
    </form>

    {{ MarvellousForm.value | json }}
  </div>
</div>
